Week3/force-app/main/default/flows/Add_Student_to_Under_Capacity_Class.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Addition_to_Class_Under_Capacity</name>
        <label>Assign Addition to Class Under Capacity</label>
        <locationX>484</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>colClassesUnderCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Through_Classes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Increment_of_Class_Members</name>
        <label>Assign Increment of Class Members</label>
        <locationX>704</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varClassMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Class_Roster_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Class_Under_Capacity</name>
        <label>Add Class Under Capacity</label>
        <locationX>616</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Through_Classes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Class Filled</defaultConnectorLabel>
        <rules>
            <name>Class_Under_Capacity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varClassMembers</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Through_Classes.Capacity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Addition_to_Class_Under_Capacity</targetReference>
            </connector>
            <label>Class Under Capacity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Increment_Class_Members</name>
        <label>Increment Class Members</label>
        <locationX>836</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Through_Class_Roster_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Class Name Mismatch</defaultConnectorLabel>
        <rules>
            <name>Class_Enrolled_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Through_Classes.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Through_Class_Roster_Records.Class_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Increment_of_Class_Members</targetReference>
            </connector>
            <label>Class Enrolled Record</label>
        </rules>
    </decisions>
    <description>Elite Challenge I</description>
    <dynamicChoiceSets>
        <name>chooseClassesUnderCapacity</name>
        <collectionReference>colClassesUnderCapacity</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Class__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add Student to Under Capacity Class {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Student to Under Capacity Class</label>
    <loops>
        <name>Through_Class_Roster_Records</name>
        <label>Through Class Roster Records</label>
        <locationX>616</locationX>
        <locationY>518</locationY>
        <collectionReference>colAllEnrolledClassRosterRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Class_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Class_Under_Capacity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_Classes</name>
        <label>Through Classes</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>colAllClasses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Through_Class_Roster_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Choose_Class_Under_Capacity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Classes</name>
        <label>Get All Classes</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Enrolled_Class_Roster_Records</targetReference>
        </connector>
        <object>Class__c</object>
        <outputReference>colAllClasses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Enrolled_Class_Roster_Records</name>
        <label>Get All Enrolled Class Roster Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_Classes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <object>Class_Roster__c</object>
        <outputReference>colAllEnrolledClassRosterRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Class_Name__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Choose_Class_Under_Capacity</name>
        <label>Choose Class Under Capacity</label>
        <locationX>176</locationX>
        <locationY>1502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Student_to_Class_Under_Capacity</targetReference>
        </connector>
        <fields>
            <name>Classes_Under_Capacity</name>
            <choiceReferences>chooseClassesUnderCapacity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Classes Under Capacity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Classes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Student_to_Class_Under_Capacity</name>
        <label>Add Student to Class Under Capacity</label>
        <locationX>176</locationX>
        <locationY>1622</locationY>
        <flowName>Class_from_outside_Flow_CR_Record</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Classes_Under_Capacity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colAllClasses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>colAllEnrolledClassRosterRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class_Roster__c</objectType>
    </variables>
    <variables>
        <name>colClassesUnderCapacity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>varChosenClassName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varClassMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
