Week3/force-app/main/default/flows/Beyond_Capacity_Waitlisting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Class_Name</name>
        <label>Assign Class Name</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>className</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Class_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Enrolled_in_Class</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_Enrolled</name>
        <label>Assign Number Enrolled</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>varNumberEnrolled</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionEnrolledInClass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Waitlisting_On_Capacity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Waitlisting_On_Capacity</name>
        <label>Decision Waitlisting On Capacity</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Capacity Not Exceeded On Enrollment</defaultConnectorLabel>
        <rules>
            <name>Class_Capacity_Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Class_Name__r.Capacity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varNumberEnrolled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_to_Waitlist</targetReference>
            </connector>
            <label>Class Capacity Exceeded</label>
        </rules>
    </decisions>
    <description>Elite Challenge II</description>
    <environments>Default</environments>
    <interviewLabel>Beyond Capacity Waitlisting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Beyond Capacity Waitlisting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Enrolled_in_Class</name>
        <label>Get Enrolled in Class</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_Enrolled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>className</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <object>Class_Roster__c</object>
        <outputReference>collectionEnrolledInClass</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_to_Waitlist</name>
        <label>Update Status to Waitlist</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Waitlist</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Class_Name</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <object>Class_Roster__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>className</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionEnrolledInClass</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class_Roster__c</objectType>
    </variables>
    <variables>
        <name>varNumberEnrolled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
