Week3/force-app/main/default/flows/Create_Class_Roster_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Decision010</name>
        <label>Decision010</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No More Students to Add</defaultConnectorLabel>
        <rules>
            <name>Add_Another_Student_to_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_Class_Roster_Record</targetReference>
            </connector>
            <label>Add Another Student to Class</label>
        </rules>
    </decisions>
    <description>Challenge III</description>
    <environments>Default</environments>
    <interviewLabel>Create Class Roster Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Class Roster Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Another_Student_Added_to_Class_Prompt</name>
        <label>Another Student Added to Class Prompt</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision010</targetReference>
        </connector>
        <fields>
            <name>Choice</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to add another student to the class?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Class_Roster_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Creates a class roster record with or without a pre-supplied Class Name by asking user for field values.</description>
        <name>Create_Class_Roster_Record</name>
        <label>Create Class Roster Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Another_Student_Added_to_Class_Prompt</targetReference>
        </connector>
        <flowName>Class_from_outside_Flow_CR_Record</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
