Week3/force-app/main/default/flows/Emails_to_Students_with_Updated_Class_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sending_Email_to_Newly_Cancelled_Student</name>
        <label>Sending Email to Newly Cancelled Student</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailToNewlyCancelledStudents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>studentEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Class Cancellation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sending_Email_to_Newly_Enrolled_Student</name>
        <label>Sending Email to Newly Enrolled Student</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailToNewlyEnrolledStudents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>studentEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You have been enrolled in a class</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment_of_Student_Email_Address</name>
        <label>Assignment of Student Email Address</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>studentEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Student_Name__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Type_to_Send</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Type_to_Send</name>
        <label>Email Type to Send</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>To_Newly_Enrolled_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sending_Email_to_Newly_Enrolled_Student</targetReference>
            </connector>
            <label>To Newly Enrolled Student</label>
        </rules>
        <rules>
            <name>To_Newly_Cancelled_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sending_Email_to_Newly_Cancelled_Student</targetReference>
            </connector>
            <label>To Newly Cancelled Student</label>
        </rules>
    </decisions>
    <description>Challenge VI</description>
    <environments>Default</environments>
    <interviewLabel>Emails to Students with Updated Class Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Emails to Students with Updated Class Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_of_Student_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Class_Roster__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailToNewlyCancelledStudents</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;We are sorry to inform you {!$Record.Student_Name__c}, but you will be unable to attend {!$Record.Class_Name__c}.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailToNewlyEnrolledStudents</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Congratulations {!$Record.Student_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been enrolled to {!$Record.Class_Name__c}.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>studentEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
