Week3/force-app/main/default/flows/Emails_to_Students_Added_to_a_Class.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sending_Email_to_Waitlisted_Student</name>
        <label>Sending Email to Waitlisted Student</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailToWaitlistedStudents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddressOfStudent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You have been placed on a class waitlist</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sending_Enrolled_Student_Email</name>
        <label>Sending Enrolled Student Email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailToEnrolledStudents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddressOfStudent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You have been enrolled to a class</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment_Student_Email_Address</name>
        <label>Assignment Student Email Address</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>emailAddressOfStudent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Student_Name__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Type_To_Send</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Type_To_Send</name>
        <label>Email Type To Send</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Nothing for Cancelled Student</defaultConnectorLabel>
        <rules>
            <name>To_Enrolled_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sending_Enrolled_Student_Email</targetReference>
            </connector>
            <label>To Enrolled Student</label>
        </rules>
        <rules>
            <name>To_Waitlisted_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sending_Email_to_Waitlisted_Student</targetReference>
            </connector>
            <label>To Waitlisted Student</label>
        </rules>
    </decisions>
    <description>Challenge V</description>
    <environments>Default</environments>
    <interviewLabel>Emails to Students Added to a Class {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Emails to Students Added to a Class</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_Student_Email_Address</targetReference>
        </connector>
        <object>Class_Roster__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailToEnrolledStudents</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Student_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been enrolled in {!$Record.Class_Name__c}.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailToWaitlistedStudents</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Student_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been placed on the waitlist for {!$Record.Class_Name__c}. You will be informed upon enrollment or cancelation due to lack of capacity.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailAddressOfStudent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
